<h1>Heroes list</h1>
<div class="table-zone">
  <div class="one-row right-position">
    <button mat-raised-button (click)="refreshClickHandler()">Refresh</button>
  </div>
  <table mat-table [dataSource]="heroesList">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{element.age}}</td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef>Height</th>
      <td mat-cell *matCellDef="let element">{{element.height}}</td>
    </ng-container>

    <ng-container matColumnDef="heroPoints">
      <th mat-header-cell *matHeaderCellDef>Hero points</th>
      <td mat-cell *matCellDef="let element">{{element.heroPoints}}</td>
    </ng-container>

    <ng-container matColumnDef="superPowers">
      <th mat-header-cell *matHeaderCellDef>Super powers</th>
      <td mat-cell *matCellDef="let element">{{element.superPowers}}</td>
    </ng-container>

    <ng-container matColumnDef="superVillain">
      <th mat-header-cell *matHeaderCellDef>Super villain</th>
      <td mat-cell *matCellDef="let element">{{element.superVillain}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="rowClickHandler(row)"
        [class.table__row-selected]="selectedRow === row"
        [class.table__row-deselected]="selectedRow === undefined"
        *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <div class="table-buttons">
    <button mat-raised-button (click)="newItemClickHandler()">New item</button>
    <button mat-raised-button (click)="updateItemHandler()" [disabled]="selectedRow === undefined">Update</button>
    <button mat-raised-button (click)="removeClickHandler()" [disabled]="selectedRow === undefined">Remove selected</button>
  </div>
</div>
