<h1 mat-dialog-title>Updating hero</h1>
<div mat-dialog-content>
  <p>Change what you want</p>
  <mat-form-field appearance="fill">
    <mat-label>What's heroes age?</mat-label>
    <input type="number" matInput [(ngModel)]="data.age" [formControl]="ageFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>What's heroes height?</mat-label>
    <input type="number" matInput [(ngModel)]="data.height" [formControl]="heightFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>What's heroes super powers?</mat-label>
    <input matInput [(ngModel)]="data.superPowers" [formControl]="superPowersFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>What's heroes initial points?</mat-label>
    <input type="number" matInput [(ngModel)]="data.heroPoints" [formControl]="heroPointsFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>What's heroes archenemy?</mat-label>
    <input matInput [(ngModel)]="data.superVillain" [formControl]="superVillainFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
</div>
<button mat-raised-button class="accept"
        [disabled]="this.ageFormControl.hasError('required') ||
          this.ageFormControl.hasError('min') ||
          this.heightFormControl.hasError('required') ||
          this.heightFormControl.hasError('min') ||
          this.superPowersFormControl.hasError('required') ||
          this.superVillainFormControl.hasError('required') ||
          this.heroPointsFormControl.hasError('required') ||
          this.heroPointsFormControl.hasError('min')"
        (click)="acceptClickHandler()"
>
  Update
</button>
<button mat-raised-button class="close" (click)="closeClickHandler()">Close</button>
