<h1>Heroes list</h1>
<div class="table-zone">
<div class="above-block">
  <div class="search-block">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Heroes name</mat-label>
    <input matInput type="text" (change)="handleSearch()" [(ngModel)]="searchField">
    <button matSuffix mat-icon-button aria-label="Search" (click)="handleSearch()">
      <mat-icon>search</mat-icon>
    </button>
    <button *ngIf="searchField" matSuffix mat-icon-button aria-label="Clear" (click)="searchField=''; handleSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  </div>
  <div class="one-row right-position">
    <button mat-raised-button (click)="refreshClickHandler()">Refresh</button>
  </div>
</div>
  <app-heroes-table
    [heroesList]="displayHeroList"
    [displayedColumns]="displayedColumns"
    (updateEvent)="handleUpdate($event)"
    (deleteEvent)="handleDelete($event)">
  </app-heroes-table>

  <div class="table-buttons">
    <button mat-raised-button (click)="handleCreate()">New item</button>
  </div>
</div>
